.style {
  cursor: url(./image.png);
  list-style-image: url(image.png);
  background-image: url('image.png');
}

.style-unresolveable {
  cursor: url(./missing1.png);
  list-style-image: url(missing2.png);
  background-image: url('missing3.png');
}
